@import "tailwindcss";


/* @keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-12px); }
} */

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-8px); }
}